In [1]:
%matplotlib inline
import numpy as np
import matplotlib.pyplot as plt
import matplotlib as mpl
import pandas as pd
import glob
import warnings
from IPython.display import display

warnings.filterwarnings('ignore')
mpl.rcParams['savefig.dpi'] = 128
mpl.rcParams['figure.dpi'] = 128
# Plot size to 14" x 7"
mpl.rc('figure', figsize = (14, 7))
# Font size to 14
mpl.rc('font', size = 14)
# Do not display top and right frame lines
mpl.rc('axes.spines', top = False, right = False)
# Remove grid lines
mpl.rc('axes', grid = False)
# Set backgound color to white
mpl.rc('axes', facecolor = 'white')

In [2]:
df = pd.read_csv("2011-2017_short.csv")
df.shape

(161721, 9)

In [3]:
df.drop_duplicates(inplace=True)
df.shape

(161721, 9)

In [4]:
def transform_cols(df):
    df.columns = map(str.lower, df.columns)
    df.columns = df.columns.str.replace('_', ' ')
    return df

In [5]:
df = transform_cols(df)
df.columns

Index(['marketing code', 'loan amount', 'loan reason', 'property use',
       'enquiry status', 'month', 'day', 'hour', 'weekday'],
      dtype='object')

In [6]:
selected_features = ['marketing code',
                     'month', 'day', 'hour', 'weekday']

target = 'enquiry status';
whole_set = selected_features + [target]

df = df[whole_set]

In [7]:
from sklearn.preprocessing import LabelEncoder

class MultiColumnLabelEncoder:
    def __init__(self,columns = None):
        self.columns = columns # array of column names to encode

    def fit(self,X,y=None):
        return self # not relevant here

    def transform(self,X):
        '''
        Transforms columns of X specified in self.columns using
        LabelEncoder(). If no columns specified, transforms all
        columns in X.
        '''
        output = X.copy()
        if self.columns is not None:
            for col in self.columns:
                output[col] = LabelEncoder().fit_transform(output[col].astype(str))
        else:
            for colname,col in output.iteritems():
                output[colname] = LabelEncoder().fit_transform(col)
        return output

    def fit_transform(self,X,y=None):
        return self.fit(X,y).transform(X)

In [8]:
target = 'enquiry status';
# df = df.iloc[:number_of_rows]
X = df[df.keys()]
X = df.loc[:,df.columns != target]

le = LabelEncoder()
y = df[target]
y = le.fit_transform(y)
le.classes_

array(['Accepted', 'Rejected'], dtype=object)

In [ ]:
variances = pd.Series(default.var(axis=0))

In [ ]:
fig, ax = plt.subplots(figsize=(7,6))
variances.loc[dummy_features].sort_values().plot(kind='barh', ax=ax)
ax.vlines(0.1, ymin=-1, ymax=25, colors='red')
ax.set_title('Variances of dummy features');

In [9]:
category_column = X.select_dtypes(include='object')

In [10]:
category_column

       marketing code
0                2406
1               A9074
2               A1111
3               A8409
4                 OME
5               A1111
6                 OME
7               A1111
8                 IPH
9                 OME
10              A9102
11                OME
12              A9016
13              A7133
14                OME
15              A5981
16              A1111
17                OME
18              A8409
19              A5981
20              A1111
21              A9102
22              A7133
23             A4141
24              A5959
25              A5345
26              A1111
27              A1111
28                OME
29                OME
...               ...
161691          A9411
161692            OME
161693         A12666
161694          A9387
161695         EDOM03
161696           A138
161697          A5981
161698          A9432
161699          A9432
161700          A9432
161701         EDOM01
161702          A5981
161703         EDOM01
161704            IPH
161705         A12665
161706         A12666
161707          A9413
161708          A9301
161709          A9297
161710          A9432
161711          A9432
161712            OME
161713            OME
161714          A9387
161715          A9347
161716          A5981
161717          A9411
161718          A9411
161719          A9411
161720          A9297

[161721 rows x 1 columns]