In [1]:
%matplotlib inline
import numpy as np
import matplotlib.pyplot as plt
import matplotlib as mpl
import pandas as pd
import glob
import warnings
from IPython.display import display

In [2]:
# read whole year data
allFiles = glob.glob("data/*.csv")
df = pd.DataFrame()
list_ = []
for file_ in allFiles:
    df = pd.read_csv(file_,index_col=None, header=0)
    list_.append(df)
df = pd.concat(list_)

df.columns = map(str.lower, df.columns)

In [3]:
selected_features = ['marketing code','suburb', 'state','post code','enquired',
                     'loan amount','loan_reason','property_use']
target = 'enquiry status';
whole_set = selected_features + [target]

In [4]:
df = df[whole_set]
# df = df.replace('On Hold','Rejected')
# convert loan amount to number type, and change string to NaN
df['loan amount'] = pd.to_numeric(df['loan amount'],errors='coerce')

In [5]:
df = df.dropna(axis=0, how='any')
df = df[~df[target].isin(['In Progress','Just Received','On Hold'])]

In [6]:
def changeDateType(df): 
    df['enquired'] = pd.DatetimeIndex(df['enquired'])
    df['loan amount'] = df['loan amount'].astype(int)
    df['post code'] = df['post code'].astype(int)
    return df
    
changeDateType(df)

,marketing code,suburb,state,post code,enquired,loan amount,loan_reason,property_use,enquiry status
0,DOM35,Westmead,NSW,2145,2017-07-28 12:06:24,570000,First HomeBuyer,Residence,Rejected
2,A9471,Wallan,VIC,3756,2017-11-24 16:22:51,280000,First HomeBuyer,Residence,Rejected
4,A9234,Sawtell,NSW,2452,2017-11-25 07:42:51,300000,Buying Again,Investment,Rejected
5,A9452,Singleton,NSW,2330,2017-11-25 07:59:03,310000,Refinance,Residence,Rejected
6,GA07,Alfredton,VIC,3350,2017-11-25 15:02:46,270000,First HomeBuyer,Residence,Rejected
7,AH04,West Wyalong,NSW,2671,2017-11-26 10:46:40,109000,Buying Again,Residence,Rejected
8,A9819,Asquith,NSW,2077,2017-11-26 17:57:26,360000,First HomeBuyer,Investment,Rejected
9,A9234,St Johns Park,NSW,2176,2017-11-26 18:03:28,570000,Buying Again,Investment,Rejected
10,GA01,Yorkeys Knob,QLD,4878,2017-11-27 15:18:57,190000,First HomeBuyer,Investment,Rejected
11,A9432,Panania,NSW,2213,2017-11-30 18:25:03,290000,Refinance With Cash Out,Residence,Accepted
12,GA04,Moranbah,QLD,4744,2017-11-30 20:50:31,0,First HomeBuyer,Residence,Rejected
14,DOM07,Wollongong,NSW,2500,2017-11-30 22:04:54,200000,First HomeBuyer,Investment,Rejected
16,A8882,Aspley,QLD,4034,2017-11-30 23:21:23,0,First HomeBuyer,Residence,Rejected
27,A9234,Eltham North,VIC,3095,2017-12-01 05:41:58,110000,Refinance,Residence,Rejected
30,A9234,Maison Dieu,NSW,2330,2017-12-01 06:02:31,570000,Buying Again,Investment,Rejected
31,A9234,Banora Point,NSW,2486,2017-12-01 06:10:49,427500,Buying Again,Residence,Rejected
38,A5981.03,Prahran,VIC,3181,2017-12-01 07:33:03,1000000,First HomeBuyer,Residence,Rejected
0,P0001,THURSDAY ISLAND,QLD,4875,2013-10-27 21:58:42,260000,First HomeBuyer,Residence,Accepted
1,A12668,BURKETOWN,QLD,4830,2014-06-20 14:32:10,376000,Buying Again,Investment,Accepted
2,A9289,BLACK ROCK,VIC,3193,2014-09-18 16:25:24,832000,Refinance With Cash Out,Residence,Accepted
3,P0001,Arncliffe,NSW,2205,2015-05-28 15:52:36,600000,First HomeBuyer,Investment,Rejected
4,IPH,CASTLE HILL,NSW,2154,2015-05-29 17:10:48,530000,Refinance,Residence,Accepted
5,P0032,North Bondi,NSW,2026,2015-07-25 15:25:10,522500,First HomeBuyer,Residence,Rejected
6,A9234,Narara,NSW,2250,2015-10-17 09:10:34,300000,Refinance,Residence,Rejected
7,OME,PITT TOWN,NSW,2756,2015-11-27 23:07:50,637908,Buying Again,Residence,Accepted
8,EDOM11,CURRUMBIN WATERS,QLD,4223,2015-12-01 19:31:26,434713,Buying Again,Residence,Accepted
9,A9234,Lewisham,NSW,2049,2016-01-05 11:08:04,300000,Refinance,Residence,Rejected
12,A5981,Ipswich,QLD,4305,2016-01-22 02:09:29,500000,Buying Again,Residence,Rejected
14,A9411,Northparramatta,NSW,1750,2016-01-29 16:32:54,280000,Refinance,Residence,Rejected
17,A9411,Invermay,TAS,7248,2016-02-16 12:19:23,98000,Buying Again,Other,Rejected
...,...,...,...,...,...,...,...,...,...
4320,EDOM19,Banksia Grove,WA,6031,2017-02-28 16:07:23,350000,Buying Again,Residence,Rejected
4323,AH05,Kingston,ACT,2604,2017-02-28 16:55:54,370000,First HomeBuyer,Residence,Rejected
4340,A9487.05,Dubbo,NSW,2830,2017-02-28 18:10:53,595000,Refinance,Residence,Accepted
4344,AH04,Melbourne,VIC,3000,2017-02-28 18:26:26,270000,Buying Again,Residence,Rejected
4346,A9432,Richardson,ACT,2905,2017-02-28 18:30:09,185000,Refinance With Cash Out,Residence,Accepted
4350,A5007,Roselands,NSW,2196,2017-02-28 18:40:04,400000,First HomeBuyer,Residence,Rejected
4351,A9432,WERRINGTON DOWNS,NSW,2747,2017-02-28 18:40:06,380000,Refinance,Residence,Accepted
4353,A9432,Mareeba,QLD,4880,2017-02-28 18:50:06,107000,Refinance With Cash Out,Residence,Accepted
4357,DOM39,Granville,NSW,2142,2017-02-28 19:04:36,700000,First HomeBuyer,Residence,Rejected
4359,A9452,Mardi,NSW,2259,2017-02-28 19:39:36,230000,Refinance,Residence,Rejected
4360,A9452,Kings Park,VIC,3021,2017-02-28 19:42:19,50000,Refinance,Residence,Rejected
4361,A119,HARRIS PARK,NSW,2150,2017-02-28 20:00:21,462000,First HomeBuyer,Residence,Accepted
4364,EDOM18,Montmorency,VIC,3094,2017-02-28 20:34:49,450000,First HomeBuyer,Residence,Rejected
4372,A9432,Bamarang,NSW,2540,2017-02-28 20:45:15,0,Refinance,Residence,Rejected
4376,A9452,Woodridge,QLD,4114,2017-02-28 21:55:23,223000,Buying Again,Investment,Rejected
4377,HS14,Green Valley,NSW,2168,2017-02-28 21:58:22,390000,First HomeBuyer,Residence,Rejected
4378,DOM35,Harrison,ACT,2914,2017-02-28 22:26:31,550000,First HomeBuyer,Residence,Rejected
4379,DOM07,St Lucia,QLD,4067,2017-02-28 22:39:57,100000,First HomeBuyer,Residence,Rejected
4380,DOM36,Hillston,NSW,2675,2017-02-28 22:49:20,300000,Buying Again,Residence,Rejected
4382,EDOM18,Oakford,WA,6121,2017-02-28 22:54:05,229000,First HomeBuyer,Residence,Rejected
4383,EDOM13.03,MENTONE,VIC,3194,2017-02-28 22:54:33,532100,First HomeBuyer,Residence,Accepted
4384,DOM39,Indooroopilly,QLD,4068,2017-02-28 22:57:11,250000,First HomeBuyer,Investment,Rejected
4385,OME,Penrith,NSW,2750,2017-02-28 23:02:17,450000,Buying Again,Residence,Rejected
4386,DOM35,Bellevue,WA,6056,2017-02-28 23:05:41,323000,First HomeBuyer,Residence,Rejected
4387,DOM35,Mount Waverley,VIC,3149,2017-02-28 23:14:43,320000,"Buying Again,Refinance","Residence,Investment",Accepted
4388,DOM36,Casula,NSW,2170,2017-02-28 23:15:07,400000,First HomeBuyer,Residence,Rejected
4390,DOM35,Hamilton Island,QLD,4803,2017-02-28 23:18:59,270000,First HomeBuyer,Residence,Rejected
4391,DOM35,Prahran,VIC,3181,2017-02-28 23:22:58,515000,Buying Again,Residence,Rejected
4392,A9449,Lismore,NSW,2480,2017-02-28 23:32:15,475000,First HomeBuyer,Residence,Rejected
4394,DOM35,Batehaven,NSW,2536,2017-02-28 23:49:23,550000,Buying Again,Residence,Rejected

In [7]:
# filter years
start_date = '2017-01-01' 
end_date = '2017-12-31'
mask = (df['enquired'] > start_date) & (df['enquired'] <= end_date)
df = df.loc[mask].reset_index(drop=True)

In [8]:
from datetime import datetime
from dateutil.parser import parse

def getDetailDate(df):
    # remove Year feature since it is not important (show below random forest)
    # data_set['Year'] = data_set['Enquired'].dt.year
    df['month'] = df['enquired'].dt.month
    df['day'] = df['enquired'].dt.day
    df['hour'] = df['enquired'].dt.hour
    df['weekday'] = df['enquired'].dt.weekday_name
    
    if("enquired" in df.columns):
        df = df.loc[:,df.columns != 'enquired']
    return df
    
df = getDetailDate(df)

In [9]:
df.columns = df.columns.str.replace('_', ' ')

In [10]:
from sklearn.preprocessing import LabelEncoder

class MultiColumnLabelEncoder:
    def __init__(self,columns = None):
        self.columns = columns # array of column names to encode

    def fit(self,X,y=None):
        return self # not relevant here

    def transform(self,X):
        '''
        Transforms columns of X specified in self.columns using
        LabelEncoder(). If no columns specified, transforms all
        columns in X.
        '''
        output = X.copy()
        if self.columns is not None:
            for col in self.columns:
                output[col] = LabelEncoder().fit_transform(output[col].astype(str))
        else:
            for colname,col in output.iteritems():
                output[colname] = LabelEncoder().fit_transform(col)
        return output

    def fit_transform(self,X,y=None):
        return self.fit(X,y).transform(X)

In [11]:
X = df[df.keys()]
X = df.loc[:,df.columns != target]
y = df[target]

In [12]:
category_column = X.select_dtypes(include='object')

le = LabelEncoder()
y = le.fit_transform(y)
le.classes_

array(['Accepted', 'Rejected'], dtype=object)

In [13]:
from sklearn.model_selection import train_test_split

# split data and labels into a training and a test set
X_train, X_test, y_train, y_test = train_test_split(X, y,
                     test_size=0.4,
                     random_state=0,
                     stratify=y)

In [14]:
from sklearn.preprocessing import StandardScaler
from sklearn.decomposition import KernelPCA
from sklearn import svm
from sklearn.pipeline import make_pipeline

pipeline = make_pipeline(MultiColumnLabelEncoder(columns=category_column.columns),
                         StandardScaler(),
                         svm.SVC(kernel='rbf',probability=True))
pipeline.fit(X_train, y_train)
predit_labels = pipeline.predict(X_test)
print('Test Accuracy: %.3f' % pipeline.score(X_test, y_test))

Test Accuracy: 0.842

In [15]:
from sklearn.externals import joblib
joblib.dump(pipeline, 'app/models/lrpipeline.pkl')

['app/models/lrpipeline.pkl']

In [16]:
model_columns = list(X.columns)
joblib.dump(model_columns, 'app/models/model_columns.pkl')

['app/models/model_columns.pkl']

In [23]:
import json
my_json_string = json.dumps({
    "marketing_code": "P0001",
    "enquired":"27/10/13 21:58",
    "loan amount": "260000",
    "suburb": "THURSDAY ISLAND",
    "state": "QLD",
    "post code": "4875",
    "property_use": "First HomeBuyer",
    "loan_reason": "Refinance"
})
my_json_string

'{"marketing_code": "P0001", "enquired": "27/10/13 21:58", "loan amount": "260000", "suburb": "THURSDAY ISLAND", "state": "QLD", "post code": "4875", "property_use": "First HomeBuyer", "loan_reason": "Refinance"}'

In [24]:
data = json.loads(my_json_string)
data = pd.DataFrame(data,index=[0])
data.dtypes

enquired          object
loan amount       object
loan_reason       object
marketing_code    object
post code         object
property_use      object
state             object
suburb            object
dtype: object

In [25]:
changeDateType(data)
data = getDetailDate(data)

In [26]:
data.columns = data.columns.str.replace('_', ' ')

In [29]:
y_pred = pipeline.predict(data)
pipeline.predict_proba(data)

array([[ 0.63625231,  0.36374769]])