In [1]:
%matplotlib inline
import numpy as np
import matplotlib.pyplot as plt
import matplotlib as mpl
import pandas as pd
import glob
import warnings
from IPython.display import display

warnings.filterwarnings('ignore')
mpl.rcParams['savefig.dpi'] = 128
mpl.rcParams['figure.dpi'] = 128
# Plot size to 14" x 7"
mpl.rc('figure', figsize = (14, 7))
# Font size to 14
mpl.rc('font', size = 14)
# Do not display top and right frame lines
mpl.rc('axes.spines', top = False, right = False)
# Remove grid lines
mpl.rc('axes', grid = False)
# Set backgound color to white
mpl.rc('axes', facecolor = 'white')

In [2]:
df = pd.read_csv("2009-2017.csv")

In [3]:
df['loan amount'] = df['loan amount'].astype(int)

## Get fatures and target

In [4]:
from sklearn.preprocessing import LabelEncoder

target = 'enquiry status';
# df = df.iloc[:number_of_rows]
X = df[df.keys()]
X = df.loc[:,df.columns != target]

le = LabelEncoder()
y = df[target]
y = le.fit_transform(y)

## Encoding Category data

In [5]:
X = pd.get_dummies(X)

In [6]:
X.shape

,loan amount,month,day,hour,weekday,classification_Affiliate,classification_All Homes,classification_Alternative Media,classification_Bloom,classification_Club FS,...,"loan reason_Refinance,Other Loan Reason","loan reason_Refinance,Refinance With Cash Out","loan reason_Refinance,Refinance With Cash Out,Loan Topup",property use_Investment,"property use_Investment,Other",property use_Other,property use_Residence,"property use_Residence,Investment","property use_Residence,Investment,Other","property use_Residence,Other"
0,304000,12,6,21,0,0,0,0,0,0,...,0,0,0,0,0,0,1,0,0,0
1,250000,1,6,10,3,0,0,0,0,0,...,0,0,0,0,0,0,1,0,0,0
2,325000,7,27,13,2,1,0,0,0,0,...,0,0,0,0,0,0,0,1,0,0
3,200000,8,15,10,0,0,0,0,0,0,...,0,0,0,0,0,0,1,0,0,0
4,0,12,5,8,0,1,0,0,0,0,...,0,0,0,0,0,0,1,0,0,0
5,295554,3,15,21,3,0,0,0,0,0,...,0,0,0,0,0,0,1,0,0,0
6,210000,7,18,19,2,0,0,0,0,0,...,0,0,0,0,0,0,1,0,0,0
7,318988,7,25,22,2,0,0,0,0,0,...,0,0,0,0,0,0,1,0,0,0
8,350000,8,9,19,3,0,0,0,0,0,...,0,0,0,0,0,0,1,0,0,0
9,210000,8,20,17,0,0,0,0,0,0,...,0,0,0,0,0,0,1,0,0,0
10,337090,9,6,19,3,0,0,0,0,0,...,0,0,0,0,0,0,1,0,0,0
11,247000,9,12,20,2,0,0,0,0,0,...,0,0,0,0,0,0,1,0,0,0
12,525329,9,18,16,1,0,0,0,0,0,...,0,0,0,0,0,0,1,0,0,0
13,333575,9,24,16,0,0,0,0,0,0,...,0,0,0,0,0,0,1,0,0,0
14,360000,10,3,22,2,0,0,0,0,0,...,0,0,0,0,0,0,0,1,0,0
15,175344,10,7,16,6,0,0,0,0,0,...,0,0,0,1,0,0,0,0,0,0
16,92618,10,22,19,0,0,0,0,0,0,...,0,0,0,0,0,0,1,0,0,0
17,500000,11,8,13,3,0,0,0,0,0,...,0,0,0,1,0,0,0,0,0,0
18,500000,11,11,13,6,0,0,0,0,0,...,0,0,0,0,0,0,1,0,0,0
19,206685,11,14,13,2,1,0,0,0,0,...,0,0,0,0,0,0,1,0,0,0
20,160000,11,14,19,2,0,0,0,0,0,...,0,0,0,0,0,0,1,0,0,0
21,0,11,15,16,3,0,0,0,0,0,...,0,0,0,0,0,0,1,0,0,0
22,540000,11,15,20,3,0,0,0,0,0,...,0,1,0,0,0,0,0,1,0,0
23,266000,11,16,2,4,0,0,0,0,0,...,0,0,0,1,0,0,0,0,0,0
24,360892,11,19,2,0,0,0,0,0,0,...,0,0,0,0,0,0,1,0,0,0
25,380000,11,19,14,0,0,0,0,0,0,...,0,0,0,0,0,0,1,0,0,0
26,380000,11,19,19,0,0,0,0,0,0,...,0,0,0,0,0,0,1,0,0,0
27,380000,11,21,16,2,0,0,0,0,0,...,0,0,0,0,0,0,1,0,0,0
28,280000,11,28,12,2,0,0,0,0,0,...,0,0,0,0,0,0,1,0,0,0
29,237100,12,1,16,5,0,0,0,0,0,...,0,0,0,0,0,0,1,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
175845,309000,1,27,14,2,0,0,1,0,0,...,0,0,0,0,0,1,0,0,0,0
175846,80000,1,27,14,2,0,0,0,0,0,...,0,0,0,0,0,0,1,0,0,0
175847,280000,1,27,14,2,0,0,0,0,0,...,0,0,0,0,0,0,1,0,0,0
175848,0,1,27,16,2,1,0,0,0,0,...,0,0,0,0,0,0,1,0,0,0
175849,550000,1,27,18,2,0,0,0,0,0,...,0,0,0,0,0,0,1,0,0,0
175850,282150,1,27,18,2,0,0,0,0,0,...,0,0,0,0,0,0,1,0,0,0
175851,0,1,27,18,2,0,0,0,0,0,...,0,0,0,1,0,0,0,0,0,0
175852,669000,1,27,19,2,0,0,0,0,0,...,0,0,0,0,0,0,1,0,0,0
175853,0,1,27,19,2,0,0,0,0,0,...,0,0,0,1,0,0,0,0,0,0
175854,450000,1,27,20,2,0,0,0,0,0,...,0,0,0,0,0,0,1,0,0,0
175855,270000,1,27,23,2,0,0,0,0,0,...,0,0,0,0,0,0,1,0,0,0
175856,300000,1,28,7,3,0,0,0,0,0,...,0,0,0,1,0,0,0,0,0,0
175857,700000,1,28,7,3,0,0,0,0,0,...,0,0,0,0,0,0,1,0,0,0
175858,0,1,28,9,3,0,0,0,0,0,...,0,0,0,0,0,0,1,0,0,0
175859,651000,1,28,9,3,0,0,0,0,0,...,0,0,0,1,0,0,0,0,0,0
175860,370000,1,28,13,3,0,0,0,0,0,...,0,0,0,0,0,0,1,0,0,0
175861,137000,1,28,14,3,0,0,0,0,0,...,0,0,0,1,0,0,0,0,0,0
175862,846000,1,28,14,3,0,0,0,0,0,...,0,0,0,0,0,0,1,0,0,0
175863,475000,1,28,16,3,0,0,0,0,0,...,0,0,0,0,0,0,1,0,0,0
175864,110000,1,28,19,3,0,0,0,0,0,...,0,0,0,0,0,0,1,0,0,0
175865,420000,1,28,20,3,0,0,0,0,0,...,0,0,0,0,0,0,1,0,0,0
175866,300000,1,29,4,4,0,0,0,0,0,...,0,0,0,0,0,0,1,0,0,0
175867,290000,1,29,7,4,0,0,0,0,0,...,0,0,0,0,0,0,1,0,0,0
175868,371000,1,29,10,4,1,0,0,0,0,...,0,0,0,0,0,0,1,0,0,0
175869,0,1,29,11,4,1,0,0,0,0,...,0,0,0,0,0,0,1,0,0,0
175870,285000,1,29,12,4,0,0,0,0,0,...,0,0,0,0,0,0,1,0,0,0
175871,165000,1,29,16,4,0,0,1,0,0,...,0,0,0,0,0,1,0,0,0,0
175872,260000,1,29,16,4,0,0,1,0,0,...,0,0,0,0,0,0,1,0,0,0
175873,325000,1,29,16,4,0,0,1,0,0,...,0,0,0,0,0,1,0,0,0,0
175874,440000,1,31,19,6,0,0,0,0,0,...,0,0,0,0,0,0,1,0,0,0

## Handling Highly Correlated Features

In [7]:
# Create correlation matrix
corr_matrix = df.corr().abs()

# Select upper triangle of correlation matrix
upper = corr_matrix.where(np.triu(np.ones(corr_matrix.shape), k=1).astype(np.bool))

# Find index of feature columns with correlation greater than 0.95
to_drop = [column for column in upper.columns if any(upper[column] > 0.95)]

In [8]:
to_drop

[]

## Reducing features by maximizing class separability

## Recursively eliminating features

In [27]:
from sklearn.datasets import make_regression
from sklearn.feature_selection import RFECV
from sklearn import datasets, linear_model

# Suppress an annoying but harmless warning
warnings.filterwarnings(action="ignore", module="scipy", message="^internal gelsd")

# Generate features matrix, target vector, and the true coefficients
features, target = make_regression(n_samples = 10000,
                                   n_features = 100,
                                   n_informative = 2,
                                   random_state = 1)

# Create a linear regression
ols = linear_model.LinearRegression()

# Recursively eliminate features
rfecv = RFECV(estimator=ols, step=1, scoring="neg_mean_squared_error")
rfecv.fit(X, y)
test = rfecv.transform(X)

In [28]:
test

array([[304000,     12,      6, ...,      0,      0,      0],
       [250000,      1,      6, ...,      0,      0,      0],
       [325000,      7,     27, ...,      1,      0,      0],
       ...,
       [260000,      1,     29, ...,      0,      0,      0],
       [325000,      1,     29, ...,      0,      0,      0],
       [440000,      1,     31, ...,      0,      0,      0]])

## Removing irrelevant features for classification

In [23]:
from sklearn.feature_selection import SelectKBest
from sklearn.feature_selection import chi2, f_classif

# Select two features with highest chi-squared statistics
chi2_selector = SelectKBest(chi2, k=5)
features_kbest = chi2_selector.fit_transform(X, y)

# Show results
print("Original number of features:", X.shape[1])
print("Reduced number of features:", features_kbest.shape[1])

Original number of features: 86
Reduced number of features: 5

In [24]:
mask = chi2_selector.get_support()
new_features = X.columns[mask]

In [26]:
features_kbest

array([[304000,      0,      0,      1,      0],
       [250000,      0,      0,      0,      0],
       [325000,      0,      0,      0,      1],
       ...,
       [260000,      0,      0,      0,      0],
       [325000,      0,      0,      0,      0],
       [440000,      0,      0,      0,      0]])

In [ ]:
from sklearn.model_selection import train_test_split

# split data and labels into a training and a test set
X_train, X_test, y_train, y_test = train_test_split(X, y,
                     test_size=0.4,
                     random_state=0,
                     stratify=y)