In [4]:
%matplotlib inline
import numpy as np
import matplotlib.pyplot as plt
import matplotlib as mpl
import pandas as pd
import glob
import warnings
from IPython.display import display

warnings.filterwarnings('ignore')
mpl.rcParams['savefig.dpi'] = 128
mpl.rcParams['figure.dpi'] = 128
# Plot size to 14" x 7"
mpl.rc('figure', figsize = (14, 7))
# Font size to 14
mpl.rc('font', size = 14)
# Do not display top and right frame lines
mpl.rc('axes.spines', top = False, right = False)
# Remove grid lines
mpl.rc('axes', grid = False)
# Set backgound color to white
mpl.rc('axes', facecolor = 'white')

In [5]:
df = pd.read_csv("2009-2017.csv")

In [6]:
df.shape

(268639, 9)

In [7]:
print("Shape of data frame: {}".format(df.shape))
print("Keys of enquiries_dataset: \n{}".format(df.keys()))
print("data ytpes of enquiries_dataset: \n{}".format(df.dtypes))

Shape of data frame: (268639, 9)
Keys of enquiries_dataset:
Index(['classification', 'loan amount', 'loan reason', 'property use',
       'enquiry status', 'month', 'day', 'hour', 'weekday'],
      dtype='object')
data ytpes of enquiries_dataset:
classification    object
loan amount        int64
loan reason       object
property use      object
enquiry status    object
month              int64
day                int64
hour               int64
weekday            int64
dtype: object

In [8]:
test = df[df['enquiry status'] == 'Rejected']
test.shape

(218370, 9)

In [9]:
test = df[df['enquiry status'] == 'Accepted']
test.shape

(50269, 9)

In [10]:
from sklearn.utils import resample

df_majority = df[df['enquiry status'] == 'Rejected']
df_minority = df[df['enquiry status'] == 'Accepted']


# Upsample minority class
df_majority_downsampled = resample(df_majority, 
                                 replace=False,     # sample with replacement
                                 n_samples=50269,    # to match majority class
                                 random_state=123) # reproducible results



# Combine majority class with upsampled minority class
df_downsampled = pd.concat([df_majority_downsampled, df_minority])

# Display new class counts
df_downsampled['enquiry status'].value_counts()

Rejected    50269
Accepted    50269
Name: enquiry status, dtype: int64

In [11]:
df = df_downsampled

In [12]:
print("Shape of new data frame: {}".format(df.shape))

Shape of new data frame: (100538, 9)

In [13]:
print("data ytpes of enquiries_dataset: \n{}".format(df.dtypes))

data ytpes of enquiries_dataset:
classification    object
loan amount        int64
loan reason       object
property use      object
enquiry status    object
month              int64
day                int64
hour               int64
weekday            int64
dtype: object

In [14]:
target = 'enquiry status';

X = df[df.keys()]
X = df.loc[:,df.columns != target]
y = df[target]

In [15]:
from sklearn import preprocessing

le = preprocessing.LabelEncoder()
y = le.fit_transform(y)

In [16]:
category_column = X.select_dtypes(include='object')

In [17]:
from sklearn.preprocessing import LabelEncoder

transform_dict = {}
for col in category_column.columns:
    le = preprocessing.LabelEncoder()
    X[col] = le.fit_transform(X[col])
    transform_dict[col] = dict(zip(le.classes_, le.transform(le.classes_)))

In [18]:
inverse_transform_dict = {}
for col, d in transform_dict.items():
    inverse_transform_dict[col] = {v:k for k, v in d.items()}

In [19]:
X.shape

(100538, 8)

In [20]:
# Create correlation matrix
corr_matrix = df.corr().abs()

# Select upper triangle of correlation matrix
upper = corr_matrix.where(np.triu(np.ones(corr_matrix.shape), k=1).astype(np.bool))

# Find index of feature columns with correlation greater than 0.95
to_drop = [column for column in upper.columns if any(upper[column] > 0.95)]

In [21]:
to_drop

[]

In [22]:
from sklearn.model_selection import train_test_split

# split data and labels into a training and a test set
X_train, X_test, y_train, y_test = train_test_split(X, y,
                     test_size=0.4,
                     random_state=0,
                     stratify=y)

## Selecting Best Models Using Exhaustive Search

In [23]:
# from sklearn.model_selection import GridSearchCV
# from sklearn import linear_model

# # Create logistic regression
# logistic = linear_model.LogisticRegression()

# # Create range of candidate penalty hyperparameter values
# penalty = ['l1', 'l2']

# # Create range of candidate regularization hyperparamet values
# C = np.logspace(0, 4, 10)

# # Create dictionary hyperparameter candidates
# hyperparameters = dict(C=C, penalty=penalty)

# # Create grid search
# gridsearch = GridSearchCV(logistic, hyperparameters, cv=5, verbose=0)

# # Fit grid search
# best_model = gridsearch.fit(X, y)

In [24]:
# # View best hyperparameters
# print('Best Penalty:', best_model.best_estimator_.get_params()['penalty'])
# print('Best C:', best_model.best_estimator_.get_params()['C'])

## Creating A Baseline Classification Model

In [25]:
from sklearn.dummy import DummyClassifier
from sklearn.pipeline import make_pipeline
from sklearn.preprocessing import StandardScaler

# Create dummy classifer
# dummy = DummyClassifier(strategy='uniform', random_state=1)
pipe_dummy = make_pipeline(StandardScaler(),
                       DummyClassifier(strategy='uniform', random_state=1))

# "Train" model
pipe_dummy.fit(X_train, y_train)

# Get accuracy score
pipe_dummy.score(X_test, y_test)

0.50096976327829723

In [26]:
from sklearn.preprocessing import StandardScaler
from sklearn.decomposition import PCA
from sklearn.ensemble import RandomForestClassifier
from sklearn.pipeline import make_pipeline

pipe_rf = make_pipeline(StandardScaler(),
                        RandomForestClassifier(n_estimators=1000,random_state=1, n_jobs=-1))

pipe_rf.fit(X_train, y_train)
rf_label = pipe_rf.predict(X_test)
print('Test Accuracy: %.3f' % pipe_rf.score(X_test, y_test))

Test Accuracy: 0.745

In [27]:
# from sklearn.model_selection import learning_curve

# train_sizes, train_scores, test_scores = learning_curve(estimator=pipe_rf,
#                                                         X=X_train,y=y_train,train_sizes=np.linspace(0.1, 1.0, 10),
#                                                         cv=10,n_jobs=1)
# train_mean = np.mean(train_scores,axis=1)
# train_std = np.std(train_scores, axis=1)      
# test_mean = np.mean(test_scores, axis=1)
# test_std = np.std(test_scores, axis=1)


# plt.plot(train_sizes, train_mean,color='blue', marker='o',markersize=5,label='training accuracy')
# plt.fill_between(train_sizes,train_mean + train_std,train_mean - train_std,alpha=0.15, color='blue')
# plt.plot(train_sizes, test_mean,color='green', linestyle='--',marker='s', markersize=5,label='validation accuracy')
# plt.fill_between(train_sizes,test_mean + test_std,test_mean - test_std,alpha=0.15, color='green')
# plt.grid()
# plt.xlabel('Number of training samples')
# plt.ylabel('Accuracy')               
# plt.legend(loc='lower right')
# plt.ylim([0.8, 1.0])
# plt.show()

In [28]:
from sklearn.model_selection import cross_val_score
from sklearn.metrics import classification_report
from sklearn.metrics import roc_auc_score
from sklearn import cross_validation

scores = cross_validation.cross_val_score(pipe_rf, X, y, cv=5)
print("Random forest cross_validation: {:.2f}".format(np.mean(scores, axis=0)))

print("Random forest")
print(classification_report(y_test, rf_label))

/Users/mluo/anaconda3/lib/python3.6/site-packages/sklearn/cross_validation.py:41: DeprecationWarning: This module was deprecated in version 0.18 in favor of the model_selection module into which all the refactored classes and functions are moved. Also note that the interface of the new CV iterators are different from that of this module. This module will be removed in 0.20.
  "This module will be removed in 0.20.", DeprecationWarning)

Random forest cross_validation: 0.68
Random forest
             precision    recall  f1-score   support

          0       0.71      0.82      0.76     20108
          1       0.79      0.67      0.73     20108

avg / total       0.75      0.74      0.74     40216

In [29]:
prob_y_2 = pipe_rf.predict_proba(X)
prob_y_2 = [p[1] for p in prob_y_2]
print( roc_auc_score(y, prob_y_2) )

0.969317593181

In [30]:
print( np.unique( rf_label ) )

[0 1]

In [31]:
# from sklearn.ensemble import RandomForestClassifier

# from sklearn import metrics

# # rescale data
# scaler = StandardScaler()
# X_train_scaled = scaler.fit_transform(X_train)
# X_test_scaled = scaler.transform(X_test)

# rfc = RandomForestClassifier(n_estimators=500,random_state=1)
# rfc.fit(X_train_scaled, y_train)
# pred_forest = rfc.predict(X_test)

# print("Test score: {:.2f}".format(rfc.score(X_test_scaled, y_test)))

In [32]:
# from sklearn.model_selection import learning_curve
# train_sizes, train_scores, test_scores = learning_curve(estimator=pipe_rf,
#                                                         X=X_train,y=y_train,train_sizes=np.linspace(0.1, 1.0, 10),
#                                                         cv=10,n_jobs=1,
#                                                        verbose=1)
# train_mean = np.mean(train_scores,axis=1)
# train_std = np.std(train_scores, axis=1)      
# test_mean = np.mean(test_scores, axis=1)
# test_std = np.std(test_scores, axis=1)


# plt.plot(train_sizes, train_mean,color='blue', marker='o',markersize=5,label='training accuracy')
# plt.fill_between(train_sizes,train_mean + train_std,train_mean - train_std,alpha=0.15, color='blue')
# plt.plot(train_sizes, test_mean,color='green', linestyle='--',marker='s', markersize=5,label='validation accuracy')
# plt.fill_between(train_sizes,test_mean + test_std,test_mean - test_std,alpha=0.15, color='green')
# plt.grid()
# plt.xlabel('Number of training samples')
# plt.ylabel('Accuracy')               
# plt.legend(loc='lower right')
# plt.ylim([0.8, 1.0])
# plt.show()

In [33]:
# plt.savefig('myfig.png')

In [34]:
classifer = pipe_rf.steps[1]

In [35]:
feat_labels = X.columns[0:]
importances = pipe_rf.steps[1][1].feature_importances_

# reverse the list
indices = np.argsort(importances)[::-1]

for f in range(X_train.shape[1]):
    print("%2d) %-*s %f" % (f + 1, 30,feat_labels[indices[f]],importances[indices[f]]))
    
# plt.title('Feature Importance')
# plt.bar(range(X_train.shape[1]),importances[indices],align='center')
# plt.xticks(range(X_train.shape[1]),feat_labels[indices], rotation=90)
# plt.xlim([-1, X_train.shape[1]])
# plt.tight_layout()
# plt.show()

 1) loan amount                    0.360307
 2) day                            0.140194
 3) hour                           0.127441
 4) classification                 0.111714
 5) month                          0.095004
 6) weekday                        0.066136
 7) loan reason                    0.065642
 8) property use                   0.033563

In [36]:
# classifer.oob_score_

In [37]:
# import pickle
# import os

# dest = os.path.join('movieclassifier', 'pkl_objects')
# if not os.path.exists(dest):
#     os.makedirs(dest)

# pickle.dump(stop,open(os.path.join(dest, 'stopwords.pkl'),'wb'),protocol=4)
# pickle.dump(clf,
            
# from sklearn.externals import joblib
# joblib.dump(pipe_rf, 'app/models/classifier.pkl')

In [38]:
from sklearn.externals import joblib
joblib.dump(pipe_rf, 'app/models/classifier.pkl')

['app/models/classifier.pkl']

In [39]:
model_columns = list(X.columns)
joblib.dump(model_columns, 'app/models/model_columns.pkl')

['app/models/model_columns.pkl']

In [40]:
joblib.dump(transform_dict, 'app/models/transform_dict.pkl')

['app/models/transform_dict.pkl']

In [41]:
clf = joblib.load('app/models/classifier.pkl')
model_columns = joblib.load('app/models/model_columns.pkl')
encoder = joblib.load('app/models/encoder.pkl')

In [42]:
import json
my_json_string = json.dumps({
    "classification": "REA",
    "marketing_code": "OME",
    "enquired":"29/5/15 17:10",
    "loan amount": "2010000",
    "property_use": "Residence",
    "loan_reason": "Refinance"
})
my_json_string

'{"classification": "REA", "marketing_code": "OME", "enquired": "29/5/15 17:10", "loan amount": "2010000", "property_use": "Residence", "loan_reason": "Refinance"}'

In [43]:
# test = pd.read_json(my_json_string, orient='index')
# data = pd.read_json(my_json_string, typ='series',orient='index')
# data = pd.DataFrame(data=data)
data = json.loads(my_json_string)
data = pd.DataFrame(data,index=[0])

In [44]:
# def transform_cols(df):

#     return df

In [45]:
# transform_cols(data)

In [61]:
def transform(df): 
    df.columns = map(str.lower, df.columns)
    df.columns = df.columns.str.replace('_', ' ')
    
    if 'loan amount' in df.columns: 
        df['loan amount'] = df['loan amount'].astype('float')
        
    if 'enquired' in df.columns: 
        df['enquired'] = pd.DatetimeIndex(df['enquired'])
        df['year'] = df['enquired'].dt.year
        df['month'] = df['enquired'].dt.month
        df['day'] = df['enquired'].dt.day
        df['hour'] = df['enquired'].dt.hour
        df['weekday'] = df['enquired'].dt.dayofweek
    
    if 'post code' in df.columns: 
        df['post code'] = df['post code'].astype('int')
    
    if 'enquired'in df.columns:
        df.drop(['enquired'], axis = 1, inplace = True)
    
    return df.replace(encoder)

In [62]:
data = transform(data)

In [63]:
def cleanFeatures(data) :
    for col in model_columns: 
        if col not in data.columns:
            data[col] = 0

#  test any error column in test data
for col in data.columns: 
    if col not in model_columns:
        data.drop(col, axis = 1, inplace = True)

In [64]:
# cleanFeatures(data)
data

,classification,loan amount,loan reason,property use,month,day,hour,weekday
0,25,304000.0,4,2,12,6,21,0
1,7,250000.0,0,2,1,6,10,3
3,25,200000.0,0,2,8,15,10,0
5,7,295554.0,1,2,3,15,21,3
7,7,318988.0,0,2,7,25,22,2
8,25,350000.0,0,2,8,9,19,3
9,31,210000.0,4,2,8,20,17,0
10,7,337090.0,0,2,9,6,19,3
12,7,525329.0,0,2,9,18,16,1
13,22,333575.0,4,2,9,24,16,0
14,34,360000.0,0,2,10,3,22,2
15,7,175344.0,0,0,10,7,16,6
16,22,92618.0,1,2,10,22,19,0
17,25,500000.0,0,0,11,8,13,3
18,7,500000.0,1,2,11,11,13,6
19,0,206685.0,4,2,11,14,13,2
22,18,540000.0,4,2,11,15,20,3
24,36,360892.0,1,2,11,19,2,0
29,7,237100.0,1,2,12,1,16,5
30,7,0.0,0,2,12,4,22,1
31,7,340000.0,1,2,12,5,17,2
32,22,347000.0,4,0,12,7,12,4
33,22,169662.0,1,2,12,7,18,4
37,22,466437.0,0,2,12,15,18,5
38,7,374400.0,0,2,12,16,16,6
39,31,100000.0,4,2,12,17,16,0
41,7,260000.0,0,2,12,30,13,6
42,22,275000.0,4,2,1,2,18,2
44,6,357000.0,4,2,1,3,20,3
47,18,200000.0,4,2,1,7,17,0
...,...,...,...,...,...,...,...,...
268442,28,250000.0,4,2,1,27,20,2
268445,28,450000.0,0,2,1,27,20,2
268463,22,651000.0,4,0,1,28,9,3
268467,21,261000.0,4,2,1,28,14,3
268468,34,137000.0,0,0,1,28,14,3
268469,21,846000.0,4,2,1,28,14,3
268489,28,195000.0,4,2,1,28,18,3
268498,28,290000.0,4,2,1,28,19,3
268502,28,110000.0,4,2,1,28,19,3
268503,28,420000.0,4,2,1,28,20,3
268506,28,320000.0,4,2,1,28,21,3
268515,7,290000.0,0,2,1,29,7,4
268521,0,371000.0,1,2,1,29,10,4
268527,22,285000.0,1,2,1,29,12,4
268535,2,260000.0,4,2,1,29,16,4
268549,2,220000.0,4,2,1,29,17,4
268562,34,545000.0,0,2,1,29,18,4
268564,28,344000.0,4,2,1,29,19,4
268568,28,590000.0,0,2,1,29,19,4
268592,20,349600.0,1,2,1,30,8,5
268598,0,487000.0,1,2,1,30,15,5
268600,10,281000.0,0,2,1,30,16,5
268603,7,550000.0,0,2,1,30,19,5
268616,22,368000.0,0,0,1,31,9,6
268619,29,570000.0,1,2,1,31,10,6
268622,34,525000.0,1,2,1,31,11,6
268628,22,660000.0,0,2,1,31,13,6
268635,7,434000.0,0,2,1,31,19,6
268636,24,440000.0,1,2,1,31,19,6
268637,0,304000.0,1,0,1,31,20,6

In [65]:
prediction = clf.predict(data)

In [66]:
prediction

array([0, 0, 0, ..., 0, 0, 0])

In [67]:
print("posibility is: {}".format(np.max(clf.predict_proba(data))))

posibility is: 0.998

In [68]:
data = test.loc[:,test.columns != target]

In [69]:
data = transform(data)

In [73]:
data['property use'].value_counts()

2    39547
0     8807
1     1915
Name: property use, dtype: int64

In [57]:
# cleanFeatures(data)

In [58]:
data.shape

(50269, 8)

In [59]:
model_columns

['classification',
 'loan amount',
 'loan reason',
 'property use',
 'month',
 'day',
 'hour',
 'weekday']

In [74]:
prediction = clf.predict(data)

In [75]:
prediction

array([0, 0, 0, ..., 0, 0, 0])

In [76]:
proba = []
result = clf.predict_proba(data)
for row in range(len(result)):
    proba.append(np.max(result[row]))

In [77]:
data = test.loc[:,test.columns != target]

In [80]:
data["prediction"] = prediction
data["re"] = proba

In [81]:
data[data['prediction'] == 1]

,classification,loan amount,loan reason,property use,month,day,hour,weekday,prediction,re
7,Direct,318988,Buying Again,Residence,7,25,22,2,1,0.645000
10,Direct,337090,Buying Again,Residence,9,6,19,3,1,0.547000
29,Direct,237100,First HomeBuyer,Residence,12,1,16,5,1,0.603000
30,Direct,0,Buying Again,Residence,12,4,22,1,1,0.519000
31,Direct,340000,First HomeBuyer,Residence,12,5,17,2,1,0.570000
41,Direct,260000,Buying Again,Residence,12,30,13,6,1,0.660000
114,Google AdWords,62550,Buying Again,Investment,2,23,21,5,1,0.524000
133,Direct,197000,Buying Again,Residence,3,3,22,6,1,0.528000
160,Direct,551000,First HomeBuyer,Residence,3,11,21,0,1,0.562000
185,Google AdWords,364662,First HomeBuyer,Residence,3,15,18,4,1,0.512000
243,Affiliate,288000,Refinance,Residence,3,25,14,0,1,0.637000
257,Direct,330000,First HomeBuyer,Residence,3,25,21,0,1,0.524000
282,Direct,300700,First HomeBuyer,Residence,3,27,7,2,1,0.614000
319,Google AdWords,160000,Buying Again,Residence,3,27,17,2,1,0.516000
390,Direct,641600,First HomeBuyer,Residence,3,29,16,4,1,0.533000
423,Direct,249600,Buying Again,Residence,3,30,9,5,1,0.576000
441,Direct,252031,First HomeBuyer,Residence,3,30,16,5,1,0.563000
476,Direct,427500,First HomeBuyer,Residence,3,31,21,6,1,0.558000
500,Direct,246000,Buying Again,Residence,4,1,15,0,1,0.514000
590,Direct,550000,Buying Again,Investment,4,2,22,1,1,0.539000
796,Direct,733601,Buying Again,Residence,4,3,23,2,1,0.553000
807,Direct,280250,First HomeBuyer,Residence,4,4,10,3,1,0.621000
810,Direct,480000,Buying Again,Residence,4,4,11,3,1,0.566000
962,Direct,394000,First HomeBuyer,Residence,4,4,19,3,1,0.505000
982,Direct,100000,First HomeBuyer,Residence,4,5,10,4,1,0.617000
986,Direct,450000,Buying Again,Residence,4,5,11,4,1,0.520000
993,Direct,559200,First HomeBuyer,Residence,4,5,13,4,1,0.508000
1056,Direct,270000,Buying Again,Residence,4,6,19,5,1,0.631000
1087,Direct,280000,Buying Again,Residence,4,7,16,6,1,0.609000
1092,Direct,227000,First HomeBuyer,Residence,4,7,17,6,1,0.757000
...,...,...,...,...,...,...,...,...,...,...
266613,Home Sales,380000,Buying Again,Residence,1,1,22,4,1,0.557000
266631,Domain Campaigns,150000,Buying Again,Residence,1,2,11,5,1,0.595000
266653,Domain Campaigns,400000,Buying Again,Residence,1,3,10,6,1,0.502000
266664,Google AdWords,300000,Buying Again,Residence,1,3,15,6,1,0.533000
266666,Domain Campaigns,255000,Buying Again,Residence,1,3,16,6,1,0.570000
266673,Direct,200000,Buying Again,Residence,1,3,20,6,1,0.640000
266699,Domain Campaigns,310000,Buying Again,Residence,1,4,12,0,1,0.630000
266721,Alternative Media,265000,Buying Again,Residence,1,4,13,0,1,0.796000
266776,Alternative Media,630000,Refinance,Residence,1,4,19,0,1,0.601000
266782,Alternative Media,129000,First HomeBuyer,Residence,1,4,20,0,1,0.525000
266848,Direct,650000,Buying Again,Residence,1,5,10,1,1,0.663000
266899,Direct,468000,Buying Again,Residence,1,5,11,1,1,0.548000
267046,Domain Campaigns,550000,Buying Again,Residence,1,6,22,2,1,0.554000
267126,Alternative Media,650000,First HomeBuyer,Residence,1,7,13,3,1,0.620000
267244,Alternative Media,800000,First HomeBuyer,Residence,1,8,10,4,1,0.643000
267252,Alternative Media,300000,First HomeBuyer,Residence,1,8,11,4,1,0.674000
267261,Alternative Media,612000,Buying Again,Residence,1,8,11,4,1,0.508000
267364,Domain Campaigns,600000,Buying Again,Residence,1,9,15,5,1,0.694000
267544,Alternative Media,440000,Refinance,Other,1,12,13,1,1,0.558000
267813,Domain Campaigns,80000,Buying Again,Residence,1,16,17,5,1,0.752000
267929,Partners,260000,First HomeBuyer,Residence,1,18,23,0,1,0.519000
268022,Domain Campaigns,350000,First HomeBuyer,Residence,1,20,14,2,1,0.667000
268032,Domain Campaigns,380000,First HomeBuyer,Residence,1,20,16,2,1,0.595000
268095,First Home Buyers,500000,First HomeBuyer,Residence,1,21,12,3,1,0.580000
268229,Domain Campaigns,560000,Buying Again,Residence,1,23,12,5,1,0.646000
268260,Direct,400000,First HomeBuyer,Residence,1,24,11,6,1,0.536000
268278,Coregistration,600000,First HomeBuyer,Investment,1,25,1,0,1,0.501000
268335,Domain Campaigns,200000,Buying Again,Residence,1,26,2,1,1,0.678000
268521,Affiliate,371000,First HomeBuyer,Residence,1,29,10,4,1,0.646667
268527,Google AdWords,285000,First HomeBuyer,Residence,1,29,12,4,1,0.694000